.App {
  margin: auto;
  text-align: center;
  max-width: 70%;
}

button {
  cursor: pointer;
}

.btn-nav {
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}

.nav-link {
  font-weight: bold;
  color: red;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.flex-center {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
